@font-face {
    font-family: TTLakes-Bold;
    src: url(fonts/TTLakes-Bold.woff);
}

@font-face {
    font-family: TTLakes-Regular;
    src: url(fonts/TTLakes-Regular.woff);
}

@font-face {
    font-family: TTLakes-Medium;
    src: url(fonts/TTLakes-Medium.woff);
}

@media (min-width: 785px) {
    .header__tablet {
        display: flex;
        margin: 0 20px;
    }
}

@media (min-width: 785px) {
    .header__logo::before {
        content: '';
        width: 2px;
        height: 32px;
        background: #eaeaea;
        border-radius: 1px;
    }

    .main__description { 
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 785px) {
    .header__tablet::after {
        content: '';
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
        margin-left: 20px;
    }
    .header__right-content::before {
        display: none;
    }
}

@media (min-width: 785px) {
    .content__text {
        margin-left: 32px;
    }

    .content {
        display: flex;
    }
}

@media (min-width: 785px) {
    .image img {
        margin: 24px 40px 24px 40px;
        width: 360px;
        height: 260px;
        border-radius: 10px;
    }

    .content__text-button {
        margin-left: 32px;   
    }
}

body {
    background-color: #F8F8F8;
    margin: 0;
}

.main {

    &__title {
        display: flex;
        font-family: TTLakes-Bold;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #1B1C21;
        gap: 12px;
    }

    &__title ::before {
        content: '';
        width: 4px;
        height: 40px;
        background: #41F6D7;
        border-radius: 0 20px 20px 0 ;
    }
}
.header {

    @keyframes phone-outer {
        0% {
          transform: scale(1);
        }
        33.3333% {
          transform: scale(1.1);
        }
        66.6666% {
          transform: scale(1);
        }
        100% {
          transform: scale(1);
        }
    }

    border-bottom: solid #D9FFF5 1px;
    background-color: #fff;

    &__mobile {
        display: flex;
        justify-content: space-between;
        padding: 24px;
    }

    &__burger-logo {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    &__logo {
        display: flex;
        gap: 16px;
        align-items: center;
    }
    
    &__button-feedback {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-right: 8px;
    }

    &__button-feedback::before {
        content: '';
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
        margin-right: 20px;
    }

    &__tablet {
        display: none;
        gap: 16px;
        align-items: center;
    }

    &__container {
        display: none;
    }

    &__title {
        display: flex;
        font-family: TTLakes-Bold;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #1B1C21;
        gap: 12px;
    }

    &__title::before {
        content: '';
        width: 4px;
        height: 40px;
        background: #41F6D7;
        border-radius: 0 20px 20px 0 ;
    }

    &__button {
        display: inline-flex;
        gap: 8px;
        background: #f8f8f8;
        border: none;
        align-items: center;
        cursor: pointer;
    }

    &__button-repair::after {
        display: inline-block;
        content: "";
        background-image: url(../images/icon/repair.svg);
        width: 40px;
        height: 40px;
    }

    &__subtitle {
        font-family: TTLakes-Medium;
        font-size: 16px;
    }

    &__button-check-status::after {
        display: inline-block;
        content: "";
        background-image: url(../images/icon/checkstatus.svg);
        width: 40px;
        height: 40px;
    }
}
.button {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: none;

    &__button:hover {
        animation: phone-outer 1.5s infinite;
    }

    &__menu {
        background-image: url('../images/icon/burger.svg');
    }

    &__call {
        background-image: url('../images/icon/call.svg');
    }

    &__chat {
        background-image: url('../images/icon/chat.svg');
    }

    &__profile {
        background-image: url('../images/icon/profile.svg');
    }

    &__repair {
        background-image: url('../images/icon/repair.svg');
    }

    &__check-status {
        background-image: url('../images/icon/checkstatus.svg');
    }
}
.menu {

    &__navigation {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 0;
        margin-left: 16px;
    }

    &__navigation-item {
        list-style-type: none;
        border: solid 2px #F8F8F8;
        background-color: #F8F8F8;
        font-family: TTLakes-Medium;
        color: #7E7E82;
        font-size: 16px;
        scroll-snap-align: start;
        white-space: nowrap;
        padding: 8px 16px;
    }

    &__navigation-item:hover {
        background-color: #fff;
        border-color: #B8FFEC;
        border-radius: 6px;
        transition: .2s;
    }

    &__navigation-link,
    &__navigation-link:hover,
    &__navigation-link:active,
    &__navigation-link:visited {
        text-decoration: none;
        color: #7E7E82;
        -webkit-tap-highlight-color: transparent;
    }
}
.content {

    &__text--container {
        margin: 0 auto;
        font-family: TTLakes-Regular;
        color: #1B1C21;
        font-size: 14px;
    }

    &__text {
        height: 90px;
        overflow: hidden;
        margin-left: 16px;
        margin-right: 16px;
    }

    &__text-button {
        font-family: TTLakes-Bold;
        font-size: 16px;
        margin-left: 16px;
        margin-top: 24px;
        color: #1B1C21;
        border: none;
        background-color: #F8F8F8;
        padding: 0;
        cursor: pointer;
    }

    &__text-button::before {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        content: '';
        background-image: url(../images/icon/arrow.svg);
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
    }
}
.image {
    display: flex;
    justify-content: center;
}

.image img{
    margin-top: 24px;
    width: 320px;
}

@media (min-width: 1120px) {
    body {
    display: flex;
    justify-content: center;
    }
    
    .header {
        border:none;
    }

    .main__title {
        display: none;
    }

    .header__mobile {
        display: none;
    }

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        padding-top: 16px;
        padding-right: 16px;
        background-color: #f8f8f8;
        font-size: 16px;
    }

    .menu__navigation {
        display: flex;
        flex-wrap: wrap;
    }

    .image img {
        width: 532px;
        height: 384px;
    }

    .main {
        width: 1120px;
        height: 535px;
    }

    .content__text {
        margin-left: 32px;
    }

    .content__text-tablet {
        overflow: hidden;
        max-height: 90px;
        height: 40px;
    }

    .header__button-repair:hover,
    .header__button-check-status:hover {
        animation: phone-outer 1.5s infinite;
    }
}