@font-face {
    font-family: TTLakes-Bold;
    src: url(fonts/TTLakes-Bold.woff);
}

@font-face {
    font-family: TTLakes-Regular;
    src: url(fonts/TTLakes-Regular.woff);
}

@font-face {
    font-family: TTLakes-Medium;
    src: url(fonts/TTLakes-Medium.woff);
}

.header__tablet {
    display: none;
}

@media (min-width: 785px) {
    .header__tablet {
        display: flex;
        margin: 0 20px;
    }
}

@keyframes phone-outer {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
    }
    33.3333% {
      transform: translate3d(0, 0, 0) scale(1.1);
    }
    66.6666% {
      transform: translate3d(0, 0, 0) scale(1);
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
    }
}

body {
    background-color: #F8F8F8;
    margin: 0;
}

.header {
    border-bottom: solid #D9FFF5 1px;
    background-color: #fff;
}

.header__mobile {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.header__burger-logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header__tablet {
    gap: 16px;
    align-items: center;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: none;
}

.button__menu {
    background-image: url('../images/icon/burger.svg');
}

.button:hover {
    animation: phone-outer 1.5s infinite;
}

.header__logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

@media (min-width: 785px) {
    .header__logo::before {
        content: '';
        width: 2px;
        height: 32px;
        background: #eaeaea;
        border-radius: 1px;
    }

    .main__description { 
        display: flex;
        justify-content: space-between;
    }
}

.header__button-feedback {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 8px;
}

.header__button-feedback::before {
    content: '';
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
    margin-right: 20px;
}

@media (min-width: 785px) {
    .header__tablet::after {
        content: '';
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
        margin-left: 20px;
    }
    .header__right-content::before {
        display: none;
    }
}

.button__call {
    background-image: url('../images/icon/call.svg');
}

.button__chat {
    background-image: url('../images/icon/chat.svg');
}

.button__profile {
    background-image: url('../images/icon/profile.svg');
}

.button__repair {
    background-image: url('../images/icon/repair.svg');
}

.button__check-status {
    background-image: url('../images/icon/checkstatus.svg');
}

.main__title,
.header__title {
    display: flex;
    font-family: TTLakes-Bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    gap: 12px;
}

.main__title::before,
.header__title::before {
    content: '';
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-radius: 0 20px 20px 0 ;
}

.menu__navigation {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 0;
    margin-left: 16px;
}

.menu__navigation-item {
    list-style-type: none;
    border: solid 2px #F8F8F8;
    background-color: #F8F8F8;
    font-family: TTLakes-Medium;
    color: #7E7E82;
    font-size: 16px;
    scroll-snap-align: start;
    white-space: nowrap;
    padding: 8px 16px;
}

.menu__navigation-item:hover {
    background-color: #fff;
    border-color: #B8FFEC;
    border-radius: 6px;
    transition: .2s;
}

.menu__navigation-link,
.menu__navigation-link:hover,
.menu__navigation-link:active,
.menu__navigation-link:visited {
    text-decoration: none;
    color: #7E7E82;
    -webkit-tap-highlight-color: transparent;
}

.content__text {
    height: 90px;
    overflow: hidden;
    margin-left: 16px;
    margin-right: 16px;
}

.content__text--container {
    margin: 0 auto;
    font-family: TTLakes-Regular;
    color: #1B1C21;
    font-size: 14px;
}

@media (min-width: 785px) {
    .content__text {
        margin-left: 32px;
    }

    .content {
        display: flex;
    }
}

.content__text-button {
    font-family: TTLakes-Bold;
    font-size: 16px;
    margin-left: 16px;
    margin-top: 24px;
    color: #1B1C21;
    border: none;
    background-color: #F8F8F8;
    padding: 0;
    cursor: pointer;
}

.content__text-button::before {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    content: '';
    background-image: url(../images/icon/arrow.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.image {
    display: flex;
    justify-content: center;
}

.image img{
    margin-top: 24px;
    width: 320px;
}

@media (min-width: 785px) {
    .image img {
        margin: 24px 40px 24px 40px;
        width: 360px;
        height: 260px;
        border-radius: 10px;
    }

    .content__text-button {
        margin-left: 32px;   
    }
}

.header__container {
    display: none;
}

.header__subtitle {
    font-family: TTLakes-Medium;
    font-size: 16px;
}

.header__button {
    display: inline-flex;
    gap: 8px;
    background: #f8f8f8;
    border: none;
    align-items: center;
    cursor: pointer;
}

.header__button-repair::after {
    display: inline-block;
    content: "";
    background-image: url(../images/icon/repair.svg);
    width: 40px;
    height: 40px;
}

.header__button-check-status::after {
    display: inline-block;
    content: "";
    background-image: url(../images/icon/checkstatus.svg);
    width: 40px;
    height: 40px;
}

@media (min-width: 1120px) {
    body {
    display: flex;
    justify-content: center;
    }
    
    .header {
        border:none;
    }

    .main__title {
        display: none;
    }

    .header__mobile {
        display: none;
    }

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        padding-top: 16px;
        padding-right: 16px;
        background-color: #f8f8f8;
        font-size: 16px;
    }

    .menu__navigation {
        display: flex;
        flex-wrap: wrap;
    }

    .image img {
        width: 532px;
        height: 384px;
    }

    .main {
        width: 1120px;
        height: 535px;
    }

    .content__text {
        margin-left: 32px;
    }

    .content__text-tablet {
        overflow: hidden;
        max-height: 90px;
        height: 40px;
    }

    .header__button-repair:hover,
    .header__button-check-status:hover {
        animation: phone-outer 1.5s infinite;
    }
}